/.gradle/
/build/
/local.properties
/.idea/
.DS_Store
/app/build/
/app/release/

# Eclipse
.project
.classpath
project.properties
.settings/
bin/
gen/

# Node.js
node_modules/
package-lock.json
package.json
